{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Contact{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        
                <div class="col-10 text-primary">
                    <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">CONTACT</h1>
                    {{form(form)}}
                </div>    
    </div>
</div>
{% endblock %}